@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

:root {
    --color-black: #1c1c1c;
    --color-orange: #fd9962;
    --color-peach: #fd807a;

    --font-rubik: 'Rubik', arial, helvetica, sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, var(--color-orange), var(--color-peach));
    width: 100%;
    min-height: 100vh;
    font-family: Inter, arial, Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: var(--color-black);
}

h3 {
    font-family: var(--font-rubik);
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1rem;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 2rem;
}

.header {

    padding: 2rem 0;
    
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__logo {
        width: 100%;
        max-width: 230px;
    }

    &__nav-list {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 0.9rem;
        letter-spacing: 1px;
    }

    &__nav-item {
        margin-left: 1rem;
        border-bottom: 2px solid rgba(0,0,0,0);
        transition: border 300ms;
        &:hover {
            border-bottom: 2px solid rgba(0,0,0,1);
        }
        
        .selected {
            padding: 0.6em 1em;
            background: var(--color-black);
            color: white;
            pointer-events: none;
        }
    }
}

main {
    min-height: 80vh;
    display: flex;
    align-items: center;
}

.home h1 {
    font-family: var(--font-rubik);
    text-align: center;
    font-size: 3rem;
}

.modal-button {
    cursor: pointer;
    background: white;
    padding: 0.6em 1em;
    font-weight: 700;
    border: none;
    outline: none;
    box-shadow: 3px 3px 0 var(--color-black);
    transition: box-shadow 300ms;
    &:hover {
        box-shadow: 5px 5px 0 var(--color-black);

    }
}

.modal {
    visibility: hidden;
    opacity: 0;
    width: 100%;
    min-height: 100vh;
    background: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    // display: flex;
    // align-items: center;
    transition: opacity 400ms ease, visibility 200ms ease;
}

.modal-active {
    visibility: visible;
    opacity: 1;
}

.modal-close {
    line-height: 1;
    font-size: 3rem;
    color: whitesmoke;
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
    padding: 0 1rem;
    transform: rotate(0);
    transition: transform 400ms ease-out;
    transform-origin: 50% 60%;
}

.modal-close-active {
transform: rotate(180deg);
}

.calculator {
    transform: translateY(10%);
    margin: 3rem auto;
    background: white;
    padding: 3rem;
    width: 100%;
    max-width: 960px;
    transition: transform 300ms ease-out;

    @media(max-width: 600px) {
        padding: 0.6rem;       
    }
}

.calculator-active {
    transform: translateY(0%);
}


// ? TOP LEVEL CONTAINER ELEMENT
// .sc-emmjRN.frSrNq {
//     display: flex;
//     flex-direction: column;
//     flex-wrap: wrap;
//     grid-template-columns: 1fr 1fr;
// }

// .sc-eerKOB.ezAuEW {
//     grid-column: 1 / -1;

// }

.cc {
    font-family: var(--font-rubik);
    font-size: 1.2rem;

    h2 {
        color: var(--color-orange);
    }

    h6 {
        font-size: 0.9rem;
    }

    &__element-title.hdHQJp {
        text-align: center;
        font-size: 1.2rem;
        margin: 0 1rem 2rem;
    }

    &__flex-container.sc-iRbamj.kCLQhg {
        display: grid;
        gap: 10px;
        background-color: white;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    &__box.sc-jlyJG.descwZ, .CVpsf {
        max-width: 100% !important;
        padding: 1rem !important;
        border: 1px solid var(--color-black);

        @media(max-width: 600px) {
            padding: 0.4rem !important;
        }
    }

    &__buttonGroup-question {
        display: flex;
        justify-content: space-between;

        & > * {
            width: 48%;            
        }
    }
}
.cursor {
    animation: blink 800ms steps(2) infinite;
}

@keyframes blink {
    0% { visibility: hidden;}
    100% { visibility: show;}
}


.cc__submission-button {
    background: hotpink !important;
}

// ? V1.0 Styling

// .calculator__header {
//     background: white;
//     margin: 0;
//     padding: 2rem 3rem 0;

//     h2 {
//         color: var(--color-peach);
//         margin: 0;
//         font-size: 1.2rem;
//     }
// }

// .calculator {
//     background: white;
//     padding: 2rem 3rem 0;
// }

// .sc-gipzik {
//     display: grid;
//     grid-template-columns: 1fr 1fr 150px;
//     gap: 1rem;
// }

// .cc__question.cc__range-question-wrapper.sc-fOKMvo.dPLuhw{
//     border: 1px solid var(--color-black);
//     padding: 1.4rem;
//     height: 100%;
//     display: grid;
//     font-size: 0.8rem;
//     line-height: 1.5;
//     // flex-direction: column;
// }

// .sc-fYiAbW.gOIlKf {
//     justify-self: end;
//     width: 100%;
// }

// .sc-eerKOB.ezAuEW {
//     display: grid;
// }

// .sc-ifAKCX.wkIux {
//     height: 100%;
// }

// .cc__button.cc__submission-button.sc-EHOje.cObHzO.sc-bxivhb.hRhPTD {
//     height: 100%;
//     background-color: var(--color-black) ;
//     color: white !important;
//     font-family: var(--font-rubik);
//     text-transform: uppercase;
//     letter-spacing: 1px;
//     align-self: end;
// }

// .sc-esjQYD.VbQug {
//     margin-bottom: 1rem;
// }

// .footer {
//     margin-top: 4rem;
//     margin-bottom: 1rem;
//     &__inner {
//         background: white;

//     }
// }
