@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

:root {
    --color-black: #1c1c1c;
    --color-orange: #fd9962;
    --color-peach: #fd807a;

    --font-rubik: 'Rubik', arial, helvetica, sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, var(--color-orange), var(--color-peach));
    width: 100%;
    min-height: 100vh;
    font-family: Inter, arial, Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: var(--color-black);
}

h3 {
    font-family: var(--font-rubik);
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1rem;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 2rem;
}

.header {

    padding: 2rem 0;
    
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__logo {
        width: 100%;
        max-width: 230px;
    }

    &__nav-list {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        font-weight: 600;
        font-size: 0.9rem;
        letter-spacing: 1px;
    }

    &__nav-item {
        margin-left: 1rem;
        
        .selected {
            padding: 0.4em 0.8em;
            background: var(--color-black);
            color: white;
        }
    }
}

main {
    min-height: 80vh;
    display: flex;
    align-items: center;
}

.calculator__header {
    background: white;
    margin: 0;
    padding: 2rem 3rem 0;

    h2 {
        color: var(--color-peach);
        margin: 0;
        font-size: 1.2rem;
    }
}

.calculator {
    background: white;
    padding: 2rem 3rem 0;
}

.sc-gipzik {
    display: grid;
    grid-template-columns: 1fr 1fr 150px;
    gap: 1rem;
}

.cc__question.cc__range-question-wrapper.sc-fOKMvo.dPLuhw{
    border: 1px solid var(--color-black);
    padding: 1.4rem;
    height: 100%;
    display: grid;
    font-size: 0.8rem;
    line-height: 1.5;
    // flex-direction: column;
}

.sc-fYiAbW.gOIlKf {
    justify-self: end;
    width: 100%;
}

.sc-eerKOB.ezAuEW {
    display: grid;
}

.sc-ifAKCX.wkIux {
    height: 100%;
}

.cc__button.cc__submission-button.sc-EHOje.cObHzO.sc-bxivhb.hRhPTD {
    height: 100%;
    background-color: var(--color-black) ;
    color: white !important;
    font-family: var(--font-rubik);
    text-transform: uppercase;
    letter-spacing: 1px;
    align-self: end;
}

.sc-esjQYD.VbQug {
    margin-bottom: 1rem;
}

// .footer {
//     margin-top: 4rem;
//     margin-bottom: 1rem;
//     &__inner {
//         background: white;

//     }
// }